<section class="hero is-link">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Welcome to Projekt
      </h1>
      <h2 class="subtitle">
        A test tuto projekt
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-7">
        <h3 class="title is-3">
        Why is Projekt so awesome?
        </h3>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, minus. Praesentium aliquam pariatur assumenda possimus laudantium, nihil neque accusantium? Ut autem quos facere, voluptatum dolorem pariatur modi molestiae numquam blanditiis.</p>
          <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis eius quidem accusamus dolorum alias soluta animi, impedit perspiciatis voluptates tempore corrupti obcaecati in ullam laudantium quas, porro quaerat, ratione praesentium!</p>
          <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis eius quidem accusamus dolorum alias soluta animi, impedit perspiciatis voluptates tempore corrupti obcaecati in ullam laudantium quas, porro quaerat, ratione praesentium!</p>
      </div>
      <div class="column is-4 is-offset1">
        <h4 class="subtitle is-4">Sign Up Today</h4>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'button is-link is-outlined' %>
      </div>
    </div>
  </div>
</section>
